body {
    background-size: cover;
    background-repeat: no-repeat;
    background: #231d1d;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    position: relative;
    top: 80px;
    padding: 30px;
    background-color: rgba(207, 243, 239, .5);
}

.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-top: 10px;
    color: #a9a9ea;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-top: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.navbg {
    background-color: rgb(207, 243, 239);
}

.navtxt {
    position: relative;
    top: 7px;
    right: 5px;
}

.register {
    position: relative;
    top: 40px;
    left: 570px;
    display: inline;
}

.register a {
    color: black;
    font-weight: 700;
}

.fa-heart {
    margin: 2px;
    color: rgb(248, 16, 16)
}

.fa-edit, .fa-trash, .fa-shopping-basket, .fa-eye {
    color: rgb(26, 168, 235);
    margin: 2px;
}

.heart-button, .buy-button {
    background-color: transparent;
    border: none;
}

.heart-button:active, .buy-button:active {
    background-color: transparent;
    border: none;
}

.center-book {
    display: flex;
    justify-content: center;
    color: white;
}

.mat {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.flex {
    height: 91vh;
    width: 100vw;
    background-image: url('./components/images/LIBRARY\ SYSTEM5.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-login {
    height: 91vh;
    width: 100vw;
    background-image: url('./components/images/login.png');
}

.head {
    background-color: rgb(49, 230, 205);
}

.dropdown-menu {
    left: -70px;
    background-color: #cb956f !important;
}

.table td, .table th {
    color: white;
}

.nav-link{
    color: black !important;
    font-weight: 700;
}

.bg-dark{
    background-color: #d28f4e!important;
}

.navbar-brand{
    color: black !important;
    font-weight: 700;
}

.navbar{
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.bg-info{
    background-color: #d28f4e !important
}

.form-control{
    background-color: #c39090;
}

.form-signin{
    background-color: #008f7f7a !important;
}